<%- include("header") -%>

    <h2>This is a about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, similique rem explicabo, saepe qui quae ea
        consequuntur
        atque non repellat expedita placeat architecto voluptatum autem voluptatibus? Incidunt alias dolores non hic,
        autem
        magni eligendi magnam.</p>
    <%- include("footer") -%>